<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>


<!-- 接入Spring-MVC和Spring，设置后所有访问的请求会被Spring-MVC拦截处理 -->
<servlet>
    <servlet-name>Spring-MVC</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
        <param-name>contextConfigLocation</param-name>
        <!-- 这里的classpath:spring.xml对应于项目目录下的src/spring.xml -->
        <param-value>classpath:spring.xml</param-value>
    </init-param>
</servlet>
 
<servlet-mapping>
    <servlet-name>Spring-MVC</servlet-name>
    <!-- url-pattern中的/表示匹配所有的请求，也可以设置拦截特定的请求给Spring处理 -->
    <url-pattern>/</url-pattern>
</servlet-mapping>

</web-app>
