<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.boot.mapper.EmpMapper">

    <!-- public Emp getEmp(Integer eid); -->
    <select id="getEmp" resultType="com.boot.bean.Emp">
        select * from t_emp where eid = #{eid}
    </select>

</mapper>
