<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> shop </title>
</head>
<body>

<!--<h2>首页</h2>-->

<!--<form th:action="@{/file}" method="post" enctype="multipart/form-data">-->
<!--    <input name="file" type="file" /> <br/>-->

<!--    <input type="submit" value="保存"/>-->
<!--</form>-->
</br>
</br>
<h2><a th:href="@{http://localhost:5000/swagger-ui/index.html#}"> 本地 </a></br></h2>
<h2><a th:href="@{http://47.96.175.143:5000/swagger-ui/index.html#}"> 云端 </a><br/></br></h2>

</body>
</html>