<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="ThemeBucket">
  <link rel="shortcut icon" href="#" type="image/png">

  <title>Dynamic Table</title>

    <!-- 引入common公共的内容 header -->
    <!-- include：不保留大标签， 将heard去掉 -->
    <div th:include="common :: commonheader"> </div>
</head>

<body class="sticky-header">

<section>
    <!-- 引入公共的左侧菜单 -->
    <div th:replace="common :: #leftmeun"></div>

    <!-- main content start-->
    <div class="main-content" >


        <!-- 引入公共的 头信息-->
        <div th:replace="common :: headermenu"></div>

        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                Dynamic Table
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">Data Tables</a>
                </li>
                <li class="active"> Dynamic Table </li>
            </ul>
        </div>
        <!-- page heading end-->





        <!--body wrapper start-->
        <div class="wrapper">
        <div class="row">
        <div class="col-sm-12">
        <section class="panel">
        <header class="panel-heading">
            数据库 t_user信息
            <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
                <a href="javascript:;" class="fa fa-times"></a>
             </span>
        </header>

        <div class="panel-body">
        <div class="adv-table">

        </div>
        </div>
        </section>
        </div>
        </div>



        <div class="row">
        <div class="col-sm-12">
        <section class="panel">
        <header class="panel-heading">
            user 用户信息
            <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
                <a href="javascript:;" class="fa fa-times"></a>
             </span>
        </header>
        <div class="panel-body">
        <div class="adv-table">
        <table class="display table table-bordered" id="hidden-table-info">
        <thead>


        <!-- 获取Model传递过来的请求域对象，并遍历  -->
        <tr>
            <th>#id</th>
            <th>用户名</th>
            <th>密码</th>
        </tr>
        </thead>
        <tbody>
<!--        <tr class="gradeX" th:each="user:${users}">-->

        <!--  each：遍历  stats ：可以加状态 -->
        <tr class="gradeX" th:each="user, stats:${users}">
            <td th:text="${stats.count}">Trident</td>
            <!--  两种写法：${user.userName}       二：行内写法： -->
            <td th:text="${user.userName}"></td>
            <td>[[${user.password}]]</td>
        </tr>


        </tbody>
        </table>

        </div>
        </div>
        </section>
        </div>
        </div>
        </div>
        <!--body wrapper end-->

        <!--footer section start-->
        <footer>
            2020 &copy; AdminEx by ThemeBucket </a>
        </footer>
        <!--footer section end-->


    </div>
    <!-- main content end-->
</section>

<!-- 引入common公共的 js -->
<!-- replace：将公共的div替换，此时都是div，替不替换都一样 -->
<div th:replace="common :: #commonscript" ></div>

<!--dynamic table-->
<script type="text/javascript" language="javascript" src="js/advanced-datatable/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="js/data-tables/DT_bootstrap.js"></script>
<!--dynamic table initialization -->


<script src="js/dynamic_table_init.js"></script>



</body>
</html>
