<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mybatis.mapper.SQLMapper">

    <!-- List<User> getUserByLike(@Param("username") String username); -->
    <select id="getUserByLike" resultType="User">
        <!-- 第一种：使用$: select * from t_user where username like '%${username}%'; -->
        <!-- 第二种：字符串拼接：select * from t_user where username like concat('%', #{username}, '%'); -->
        select * from t_user where username like "%"#{username}"%";
    </select>

    <!-- int deleteMore(@Param("ids") String ids); -->
    <delete id="deleteMore">
        delete from t_user where id in (${ids});
    </delete>

    <!-- 表明不能加单引号，所以只能用 $ ：List<User> getUserByTableName(@Param("tableName") String tableName);-->
    <select id="getUserByTableName" resultType="User">
        select * from ${tableName}
    </select>

    <!-- void insertUser(User user);
    把当前自动递增的主键放在传输过来的ID 属性中
        useGeneratedKeys：设置当前标签中的sql使用了自增的主键
        keyProperty：将自增的主键的值赋值给传输到映射文件中参数的某个属性
    -->
    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id">
        insert into t_user values(null, #{username}, #{password}, #{age}, #{sex}, #{email});
    </insert>

</mapper>
